<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navbar.ejs') %>
  <article class="container">
    <h1>Editar Lista</h1>
    <%- include('formLista.ejs') %>
  </article>
  <%- include('../includes/scripts.ejs') %>
</body>

</html>