<form action="<%= formAction %>" method="post">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" class="form-control" value="<%= item.nome %>" />
  </div>
  <button class="btn btn-primary" type="submit">Salvar item</button>
</form>